
element {

}

    @media only screen and (min-width: 484px)

body.not-authenticated .web-navigation__navigation-container {

    display: block;

}
html[dir="ltr"] .menuicon-bread-crust, html[dir="ltr"] .shelf-grid-nav__arrow--previous, html[dir="ltr"] .web-navigation__nav-label.is-drag-over::after, html[dir="ltr"] .web-navigation__navigation-container, html[dir="rtl"] .shelf-grid-nav__arrow--next {

    left: 0;

}

    @media only screen and (min-width: 484px)

.web-navigation__navigation-container {

    height: 100%;
    width: var(--web-navigation-width);
    min-width: var(--web-navigation-width);
    max-width: var(--web-navigation-width);
    background-color: var(--sidebar);
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px auto 1fr auto;
    grid-template-areas: 'header' 'search' 'scrollable' 'upsell';
    border-inline-end-color: var(--sidebarBorderRule);
    border-inline-end-style: solid;
    border-inline-end-width: 1px;
    z-index: 9890;

}
.web-navigation__navigation-container {

    padding: 0;
    top: 0;
    width: 100vw;
    display: flex;
    height: 44px;
    flex-direction: column;
    background-color: var(--webNavigationMobileBg);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    grid-area: sidebar;

}
* {

    box-sizing: border-box;
    vertical-align: top;

}
*, abbr, blockquote, body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hgroup, input, legend, li, ol, p, pre, ul {

    padding: 0;
    margin: 0;

}
body {

    font-size: 13px;
    line-height: 1.23077;
    color: var(--systemPrimary);
    font-style: normal;

}
.locale-switcher-banner, .locale-switcher-banner button, .locale-switcher-banner input, .locale-switcher-banner select, .locale-switcher-banner textarea, .locale-switcher-footer, .locale-switcher-footer button, .locale-switcher-footer input, .locale-switcher-footer select, .locale-switcher-footer textarea, .locale-switcher-modal, .locale-switcher-modal button, .locale-switcher-modal input, .locale-switcher-modal select, .locale-switcher-modal textarea, body, button, input, select, textarea {

    font-synthesis: none;
    -moz-font-feature-settings: 'kern';

}
.typography-large-title, .typography-title-1, .typography-title-2, .typography-title-3, body {

    font-weight: 400;
    letter-spacing: 0;

}
.find-friends .profile-image, body, button:disabled {

    cursor: default;

}
:root {

    color-scheme: light dark;
    --genericJoeColor: #ebebeb;
    --musicNote: #DCDCDC;

}

    @media only screen and (min-width: 767.317px)

:root {

    --web-navigation-width: 260px;

}

    @media only screen and (min-width: 484px)

:root {

    --web-navigation-width: 33.8843vw;

}

    @media only screen and (min-width: 484px)

:root {

    --viewport-search-landing-grid: "search-landing-grid:1-sidebar";

}

    @media only screen and (min-width: 607px)

:root {

    --viewport-search-landing-grid: "search-landing-grid:2";

}

    @media only screen and (min-width: 767.317px)

:root {

    --viewport-sidebar: "sidebar:large-visible";

}

    @media only screen and (min-width: 484px)

:root {

    --viewport-sidebar: "sidebar:visible";

}

    @media only screen and (min-width: 484px)

:root {

    --viewport-grid-layout: "grid-layout:xs-1-sidebar";

}

    @media only screen and (min-width: 415px)

:root {

    --viewport-grid-layout: "grid-layout:xs-2";

}

    @media only screen and (min-width: 1260px)

:root {

    --viewport-default: "medium";

}

    @media only screen and (min-width: 1000px)

:root {

    --viewport-default: "small";

}
:root {

    --systemPrimary: rgba(0, 0, 0, 0.88);
    --systemPrimary-vibrant: #1d1d1f;
    --systemPrimary-vibrant-rgb: 29,29,31;
    --systemPrimary-onLight: rgba(0, 0, 0, 0.88);
    --systemPrimary-onDark: rgba(255, 255, 255, 0.92);
    --systemSecondary: rgba(0, 0, 0, 0.56);
    --systemSecondary-vibrant: rgba(0, 0, 0, 0.56);
    --systemSecondary-onLight: rgba(0, 0, 0, 0.56);
    --systemSecondary-onDark: rgba(255, 255, 255, 0.64);
    --systemTertiary: rgba(0, 0, 0, 0.48);
    --systemTertiary-vibrant: rgba(0, 0, 0, 0.48);
    --systemTertiary-onLight: rgba(0, 0, 0, 0.48);
    --systemTertiary-onDark: rgba(255, 255, 255, 0.4);
    --keyColor: #d60017;
    --keyColor-rgb: 214,0,23;
    --keyColor-rollover: #a20000;
    --keyColor-rollover-rgb: 162,0,0;
    --keyColor-pressed: #bb0000;
    --keyColor-pressed-rgb: 187,0,0;
    --keyColor-deepPressed: #a20000;
    --keyColor-deepPressed-rgb: 162,0,0;
    --keyColor-disabled: rgba(214, 0, 23, 0.25);
    --musicKeyColor: #d60017;
    --musicKeyColor-rollover: #a20000;
    --musicKeyColor-pressed: #bb0000;
    --musicKeyColor-deepPressed: #a20000;
    --musicKeyColor-disabled: rgba(214, 0, 23, 0.25);
    --systemAccentBG: #d60017;
    --systemAccentBG-rollover: #a20000;
    --systemAccentBG-pressed: #bb0000;
    --systemAccentBG-deepPressed: #a20000;
    --systemAccentBG-disabled: rgba(214, 0, 23, 0.25);
    --musicBrandBG: #d60017;
    --selectionColor: #d60017;
    --selectionColorRollover: #a20000;
    --selectionColorPressed: #bb0000;
    --selectionColorDeepPressed: #a20000;
    --selectionColorDisabled: rgba(214, 0, 23, 0.25);
    --segmentedControlSelectedText: rgba(0, 0, 0, 0.88);

}

    @media only screen and (min-width: 1000px)

:root {

    --bodyGutter: 40px;

}
:root {
    --bodyGutter: 25px;
    color-scheme: light dark;
    --systemRed: #ff3b30;
    --systemRed-vibrant: #f53126;
    --systemRed-default_IC: #d70015;
    --systemRed-vibrant_IC: #c20618;
    --systemOrange: #ff9500;
    --systemOrange-vibrant: #f58b00;
    --systemOrange-default_IC: #c93400;
    --systemOrange-vibrant_IC: #ad3a00;
    --systemYellow: #ffcc00;
    --systemYellow-vibrant: #f5c200;
    --systemYellow-default_IC: #a05a00;
    --systemYellow-vibrant_IC: #925100;
    --systemGreen: #28cd41;
    --systemGreen-vibrant: #1ec337;
    --systemGreen-default_IC: #007d1b;
    --systemGreen-vibrant_IC: #007018;
    --systemMint: #00c7be;
    --systemMint-vibrant: #00bdb4;
    --systemMint-default_IC: #0c817b;
    --systemMint-vibrant_IC: #0b7570;
    --systemTeal: #59adc4;
    --systemTeal-vibrant: #2ea7bd;
    --systemTeal-default_IC: #008299;
    --systemTeal-vibrant_IC: #00778c;
    --systemCyan: #55bef0;
    --systemCyan-vibrant: #41afdc;
    --systemCyan-default_IC: #0071a4;
    --systemCyan-vibrant_IC: #006796;
    --systemBlue: #007aff;
    --systemBlue-vibrant: #0070f5;
    --systemBlue-default_IC: #0040dd;
    --systemBlue-vibrant_IC: #0040dd;
    --systemBlue-rollover: #0045b7;
    --systemBlue-pressed: #005cd7;
    --systemBlue-deepPressed: #0045b7;
    --systemBlue-disabled: rgba(0, 122, 255, 0.35);
    --systemIndigo: #5856d6;
    --systemIndigo-vibrant: #5452cc;
    --systemIndigo-default_IC: #3634a3;
    --systemIndigo-vibrant_IC: #3634a3;
    --systemPurple: #af52de;
    --systemPurple-vibrant: #9f4bc9;
    --systemPurple-default_IC: #ad44ab;
    --systemPurple-vibrant_IC: #ad44ab;
    --systemPink: #ff2d55;
    --systemPink-vibrant: #f5234b;
    --systemPink-default_IC: #d30f45;
    --systemPink-vibrant_IC: #c11032;
    --systemBrown: #a2845e;
    --systemBrown-vibrant: #987a54;
    --systemBrown-default_IC: #7f6545;
    --systemBrown-vibrant_IC: #775d3b;
    --systemGray: #8e8e93;
    --systemGray-vibrant: #848489;
    --systemGray-default_IC: #69696e;
    --systemGray-vibrant_IC: #616165;
    --systemPrimary: rgba(0, 0, 0, 0.85);
    --systemPrimary-vibrant: #4c4c4c;
    --systemPrimary-vibrant-rgb: 76,76,76;
    --systemPrimary-onLight: rgba(0, 0, 0, 0.85);
    --systemPrimary-onDark: rgba(255, 255, 255, 0.85);
    --systemPrimary-default_IC: black;
    --systemPrimary-default_IC-rgb: 0,0,0;
    --systemPrimary-vibrant_IC: black;
    --systemPrimary-vibrant_IC-rgb: 0,0,0;
    --systemPrimary-onLight_IC: black;
    --systemPrimary-onLight_IC-rgb: 0,0,0;
    --systemPrimary-onDark_IC: white;
    --systemPrimary-onDark_IC-rgb: 255,255,255;
    --systemSecondary: rgba(0, 0, 0, 0.5);
    --systemSecondary-vibrant: gray;
    --systemSecondary-onLight: rgba(0, 0, 0, 0.5);
    --systemSecondary-onDark: rgba(255, 255, 255, 0.55);
    --systemSecondary-default_IC: rgba(0, 0, 0, 0.76);
    --systemSecondary-vibrant_IC: rgba(0, 0, 0, 0.76);
    --systemSecondary-onLight_IC: rgba(0, 0, 0, 0.76);
    --systemSecondary-onDark_IC: rgba(255, 255, 255, 0.7);
    --systemTertiary: rgba(0, 0, 0, 0.25);
    --systemTertiary-vibrant: #bfbfbf;
    --systemTertiary-onLight: rgba(0, 0, 0, 0.25);
    --systemTertiary-onDark: rgba(255, 255, 255, 0.25);
    --systemTertiary-default_IC: rgba(0, 0, 0, 0.56);
    --systemTertiary-vibrant_IC: rgba(0, 0, 0, 0.56);
    --systemTertiary-onLight_IC: rgba(0, 0, 0, 0.56);
    --systemTertiary-onDark_IC: rgba(255, 255, 255, 0.5);
    --systemQuaternary: rgba(0, 0, 0, 0.1);
    --systemQuaternary-vibrant: #e6e6e6;
    --systemQuaternary-onLight: rgba(0, 0, 0, 0.1);
    --systemQuaternary-onDark: rgba(255, 255, 255, 0.1);
    --systemQuaternary-default_IC: rgba(0, 0, 0, 0.35);
    --systemQuaternary-vibrant_IC: rgba(0, 0, 0, 0.35);
    --systemQuaternary-onLight_IC: rgba(0, 0, 0, 0.35);
    --systemQuaternary-onDark_IC: rgba(255, 255, 255, 0.3);
    --systemQuinary: rgba(0, 0, 0, 0.05);
    --systemQuinary-vibrant: #f2f2f2;
    --systemQuinary-onLight: rgba(0, 0, 0, 0.05);
    --systemQuinary-onDark: rgba(255, 255, 255, 0.05);
    --systemQuinary-default_IC: rgba(0, 0, 0, 0.1);
    --systemQuinary-vibrant_IC: rgba(0, 0, 0, 0.1);
    --systemQuinary-onLight_IC: rgba(0, 0, 0, 0.1);
    --systemQuinary-onDark_IC: rgba(255, 255, 255, 0.1);
    --keyColor: #fa233b;
    --keyColor-rgb: 250,35,59;
    --keyColor-rollover: #c60007;
    --keyColor-rollover-rgb: 198,0,7;
    --keyColor-pressed: #e00921;
    --keyColor-pressed-rgb: 224,9,33;
    --keyColor-deepPressed: #c60007;
    --keyColor-deepPressed-rgb: 198,0,7;
    --keyColor-disabled: rgba(250, 35, 59, 0.35);
    --keyColor-default_IC: #d60017;
    --keyColor-default_IC-rgb: 214,0,23;
    --keyColor-rollover_IC: #a20000;
    --keyColor-rollover_IC-rgb: 162,0,0;
    --keyColor-pressed_IC: #bb0000;
    --keyColor-pressed_IC-rgb: 187,0,0;
    --keyColor-deepPressed_IC: #a20000;
    --keyColor-deepPressed_IC-rgb: 162,0,0;
    --keyColor-disabled_IC: rgba(214, 0, 23, 0.25);
    --systemStandardUltrathinMaterialSover: rgba(246, 246, 246, 0.36);
    --systemStandardUltrathinMaterialSover-inactive: #f0f0f0;
    --systemStandardUltrathinMaterialSover-default_IC: #d2d2d2;
    --systemStandardUltrathinMaterialSover-inactive_IC: #ececec;
    --systemStandardThinMaterialSover: rgba(246, 246, 246, 0.48);
    --systemStandardThinMaterialSover-inactive: #f0f0f0;
    --systemStandardThinMaterialSover-default_IC: gainsboro;
    --systemStandardThinMaterialSover-inactive_IC: #ececec;
    --systemStandardMediumMaterialSover: rgba(246, 246, 246, 0.6);
    --systemStandardMediumMaterialSover-inactive: #f0f0f0;
    --systemStandardMediumMaterialSover-default_IC: #e6e6e6;
    --systemStandardMediumMaterialSover-inactive_IC: #ececec;
    --systemStandardThickMaterialSover: rgba(246, 246, 246, 0.72);
    --systemStandardThickMaterialSover-inactive: #f0f0f0;
    --systemStandardThickMaterialSover-default_IC: #f0f0f0;
    --systemStandardThickMaterialSover-inactive_IC: #ececec;
    --systemStandardUltrathickMaterialSover: rgba(246, 246, 246, 0.84);
    --systemStandardUltrathickMaterialSover-inactive: #f0f0f0;
    --systemStandardUltrathickMaterialSover-default_IC: #fafafa;
    --systemStandardUltrathickMaterialSover-inactive_IC: #ececec;
    --systemHeaderMaterialSover: rgba(255, 255, 255, 0.8);
    --systemHeaderMaterialSover-default_IC: white;
    --systemToolbarTitlebarMaterialSover: rgba(253, 253, 253, 0.8);
    --systemToolbarTitlebarMaterialSover-inactive: #f0f0f0;
    --systemToolbarTitlebarMaterialSover-default_IC: white;
    --systemToolbarTitlebarMaterialSover-inactive_IC: #ececec;
    --labelDivider: rgba(0, 0, 0, 0.15);
    --vibrantDivider: rgba(60, 60, 67, 0.29);
    --pageBG: white;
    --shelfBG: rgba(0, 0, 0, 0.05);
    --genericJoeColor: #ebebeb;
    --fallbackMaterialBG: rgba(255, 255, 255, 0.97);
    --musicKeyColor: #fa233b;
    --musicKeyColor-rollover: #c60007;
    --musicKeyColor-pressed: #e00921;
    --musicKeyColor-deepPressed: #c60007;
    --musicKeyColor-disabled: rgba(250, 35, 59, 0.35);
    --musicKeyColor-default_IC: #d60017;
    --musicKeyColor-rollover_IC: #a20000;
    --musicKeyColor-pressed_IC: #bb0000;
    --musicKeyColor-deepPressed_IC: #a20000;
    --musicKeyColor-disabled_IC: rgba(214, 0, 23, 0.25);
    --systemAccentBG: #fa233b;
    --systemAccentBG-rollover: #c60007;
    --systemAccentBG-pressed: #e00921;
    --systemAccentBG-deepPressed: #c60007;
    --systemAccentBG-disabled: rgba(250, 35, 59, 0.35);
    --systemAccentBG-default_IC: #d60017;
    --systemAccentBG-rollover_IC: #a20000;
    --systemAccentBG-pressed_IC: #bb0000;
    --systemAccentBG-deepPressed_IC: #a20000;
    --systemAccentBG-disabled_IC: rgba(214, 0, 23, 0.25);
    --musicBrandBG: #fa233b;
    --musicBrandBG-default_IC: #d60017;
    --modalBGColor: white;
    --modalBGColor-rgb: 255,255,255;
    --modalBGHeaderColor: rgba(255, 255, 255, 0.97);
    --modalScrimColor: rgba(0, 0, 0, 0.45);
    --opaqueShelfBG: #f2f2f2;
    --profileBadgeJoeColor: #e2e4e7;
    --selectionColor: #dd1f34;
    --selectionColor-default_IC: #d60017;
    --selectionColorRollover: #af0007;
    --selectionColorRollover-default_IC: #a20000;
    --selectionColorPressed: #c6081d;
    --selectionColorPressed-default_IC: #bb0000;
    --selectionColorDeepPressed: #af0007;
    --selectionColorDeepPressed-default_IC: #a20000;
    --selectionColorDisabled: rgba(250, 35, 59, 0.35);
    --selectionColorDisabled-default_IC: rgba(214, 0, 23, 0.25);
    --topResultsBGColor: rgba(0, 0, 0, 0.1);
    --lockupHoverBGColor: rgba(51, 51, 51, 0.3);
    --opaquePageBGColor: white;
    --replayCardBG: #f7f3eb;
    --replayComponentBG: #fbf9f5;
    --barButtonDeselectedGradientTop: #fefefe;
    --barButtonDeselectedGradientBottom: #fafafa;
    --barButtonSelectedBGFill: #7f7f7f;
    --barButtonSelectedTextColor: white;
    --lockupSuperlabelPrimary: rgba(255, 255, 255, 0.95);
    --lockupChinScrim: rgba(0, 0, 0, 0.2);
    --lovedBGColor: #fa233b;
    --playerDropShadow2: rgba(0, 0, 0, 0.07);
    --playerInnerShadow: rgba(255, 255, 255, 0.45);
    --powerSwooshAlgoRadioLockupChinScrim: rgba(44, 44, 46, 0.4);
    --socialSearchBG: rgba(0, 0, 0, 0.15);
    --socialModalFooter: rgba(255, 255, 255, 0.7);
    --tracklistAltRowColor: rgba(0, 0, 0, 0.015);
    --tracklistAltRowColor-default_IC: rgba(0, 0, 0, 0.05);
    --tracklistHoverColor: rgba(0, 0, 0, 0.06);
    --tracklistHoverColor-default_IC: rgba(0, 0, 0, 0.1);
    --tracklistWorksTrackHoverColor: rgba(0, 0, 0, 0.12);
    --tracklistWorksTrackHoverColor-default_IC: rgba(0, 0, 0, 0.18);
    --viewLoading: white;
    --circularArtistHeaderGradientBottom: rgba(0, 0, 0, 0.05);
    --dialogScrimColor: rgba(255, 255, 255, 0.8);
    --monogramPlaceholderColor: #9a9aa2;
    --listItemAddDownloadBG: rgba(0, 0, 0, 0.5);
    --listItemProgressBG: rgba(0, 0, 0, 0.25);
    --radiosityShadowColor: rgba(0, 0, 0, 0.1);
    --dialogShadowColor: rgba(0, 0, 0, 0.25);
    --contextMenuBorderColor: rgba(0, 0, 0, 0.15);
    --contextMenuTextColor: rgba(0, 0, 0, 0.85);
    --footerBG: #fbfbfb;
    --frostedFallbackHover: rgba(142, 142, 147, 0.8);
    --iPhoneNowPlayingBackdropBG: #dbccc4;
    --searchBorder: rgba(0, 0, 0, 0.15);
    --searchIconDropShadow: rgba(0, 0, 0, 0.15);
    --searchHintsBG: rgba(232, 232, 232, 0.9);
    --searchHintsBGHover: rgba(201, 204, 203, 0.9);
    --sidebar: rgba(60, 60, 67, 0.03);
    --sidebar-default_IC: #fafafa;
    --sidebarBorderRule: rgba(0, 0, 0, 0.1);
    --sidebarSelectedState: rgba(60, 60, 67, 0.1);
    --sidebarNativeUpsellBackgroundFallback: rgba(255, 255, 255, 0.97);
    --webNavigationMobileBg: white;
    --playerScrubberPlayhead: gray;
    --playerScrubberFill: rgba(0, 0, 0, 0.5);
    --playerScrubberTrack: rgba(0, 0, 0, 0.1);
    --playerBackgroundFallback: rgba(255, 255, 255, 0.97);
    --playerBackgroundFallback-default_IC: #fafafa;
    --playerBackground: rgba(255, 255, 255, 0.88);
    --playerBackground-default_IC: #fafafa;
    --playerGradientTop: rgba(255, 255, 255, 0.25);
    --playerGradientBottom: rgba(255, 255, 255, 0);
    --playerLCDLogo: rgba(0, 0, 0, 0.5);
    --playerLCDBGFill: white;
    --playerLCDBGFill-rgb: 255,255,255;
    --playerLCDBGOuterStroke: rgba(0, 0, 0, 0.2);
    --playerArtworkKeyline: rgba(0, 0, 0, 0.1);
    --playerVolumePlayhead: white;
    --playerVolumePlayheadActive: #e5e5e5;
    --playerVolumeFill: rgba(0, 0, 0, 0.5);
    --playerVolumeTrack: rgba(0, 0, 0, 0.15);
    --playerVolumeIconFill: rgba(0, 0, 0, 0.4);
    --trackBackgroundEven: rgba(0, 0, 0, 0.02);
    --trackHoverColor: rgba(255, 255, 255, 0.97);
    --playerPlatterButtonBGFill: #6c6c6c;
    --playerPlatterButtonIconFill: white;
    --librarySongsTrackInactiveBG: rgba(0, 0, 0, 0.14);
    --searchScopeDeselectedGradientTop: #fefefe;
    --searchScopeDeselectedGradientBottom: #fafafa;
    --searchScopeSelectedBGFill: #7f7f7f;
    --searchScopeSelectedTextColor: white;
    --searchBoxIconFill: rgba(0, 0, 0, 0.65);
    --segmentedControlBG: rgba(118, 118, 128, 0.12);
    --segmentedControlBG-default_IC: rgba(0, 0, 0, 0.2);
    --segmentedControlSelectedText: rgba(0, 0, 0, 0.85);
    --segmentedControlSelectedText-default_IC: black;
    --segmentedControlSelectedBG: white;
    --segmentedControlActiveBG: rgba(255, 255, 255, 0.7);
    --segmentedControlActiveBG-default_IC: #d9d9d9;
    --segmentedControlSelectedShadow1: rgba(0, 0, 0, 0.12);
    --segmentedControlSelectedShadow2: rgba(0, 0, 0, 0.04);
    --segmentedControlSelectedBorder: rgba(0, 0, 0, 0.15);
    --searchBarBorderColor: rgba(0, 0, 0, 0.15);
    --viewport-default: "xsmall";
    --viewport-grid-layout: "grid-layout:xs-1";
    --viewport-sidebar: "sidebar:hidden";
    --viewport-search-landing-grid: "search-landing-grid:1";
    --web-navigation-width: 164px;

}
[hydrated] {

    visibility: inherit;

}
.hydrated {

    visibility: inherit;

}
html {

    font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","SF Pro","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 106.25%;

}
:lang(zh-CN), html {

    quotes: "“" "”";

}